
<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>
		<ion-title>Characters Details</ion-title>
		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isFavourite">
				<ion-icon name="star" slot="icon-only"></ion-icon>
			</ion-button>
			<ion-button (click)="favouriteCharacter()" *ngIf="!isFavourite">
				<ion-icon name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="character">
		<ion-card-content>
        <ion-card>
            <img width="320"  height="330" src="{{character.img}}">
        </ion-card>
			<h3>Character name: {{ character.name }} </h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Occupation: {{ character.occupation }} </h3>
		</ion-card-content>
	</ion-card>

<ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Birthday: {{ character.birthday }} </h3>
		</ion-card-content>
	</ion-card>

    <ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Status: {{ character.status }} </h3>
		</ion-card-content>
	</ion-card>

    <ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Appearance: {{ character.appearance }} </h3>
		</ion-card-content>
	</ion-card>

    <ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Nickname: {{ character.nickname }} </h3>
		</ion-card-content>
	</ion-card>
<ion-card *ngIf="character">
		<ion-card-content>
			<h3>Character Portrayed: {{ character.portrayed }} </h3>
		</ion-card-content>
	</ion-card>


</ion-content>

