<ion-header>
	<ion-toolbar color="success">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/deaths"></ion-back-button>
		</ion-buttons>
		<ion-title>Deaths Details</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-card *ngIf="death">

		<ion-card-content>
			<h3>Death Count: {{ death.number_of_deaths}} </h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="death">
		<ion-card-content>
			<h3>Death Deceased: {{ death.death}} </h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="death">
		<ion-card-content>
			<h3>Death Cause: {{ death.cause}} </h3>
		</ion-card-content>
	</ion-card>


	<ion-card *ngIf="death">
		<ion-card-content>
			<h3>Death season: {{ death.season}} </h3>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="death">
		<ion-card-content>
			<h3>Death Episode: {{ death.episode}} </h3>
		</ion-card-content>
	</ion-card>

</ion-content>