ion-content{
            
        --background: #78d49d ;
        --font-family: 'Times New Roman', Times, serif;

        }
        ion-card{
        
        --font-family: 'Times New Roman', Times, serif; 
        }